
nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background-color: #2196F3;
  padding: 10px;
}

nav h1 {
  color: #F8F8F8;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: #444444;
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #0081ea;
  color: #FFFFFF;
}